/* /* Configuracion basica de un archivo css */
/* 1. Tipografias */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* 2. Iconos */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

/* 2.2 estilos enerales */
    h1,h2,h3,h4,h5,h6{
        font-family: "Merriweather", serif; /*Importamos las tipografias para los titulos que se les pone todo los h*/
    }
    p,a,button,li,label,input,select,textarea,span{
        font-family: "Montserrat", sans-serif;/*Estos de aca son los textos y parafos y todo lo que no son titulos*/
    }
/* 3. Variables */
    :root{
        --primary-color: #e58411;
        --gray-color: #f7f7f7;
        --white-color: #fff;
        --dark-color: #000;
        --fs-text: 16px;
        --fs-title1:80px;
        --fs-title2:38px;
        --fs-title3:22px;
        --fs-title4:18px;
    }
/* 4. Destock */
*{
    scrollbar-width: none;
}
header{
    width: 100%;
    position: relative;
    height: 170vh;
    background: url("../img/fondoo.png");
    background-size: cover;
    /* background-position: center;  */
    background-position-x: center;
    background-position-y: bottom;
    padding-top: 30px;
}

.bg-trasparente{
    background: transparent;
}

header nav .logo{
    color: var(--white-color);
    font-weight: 600;
    font-size: 24px;
}

header nav .logo:hover{
    color: var(--white-color);
    transform: scale(1.2);
    transition: .5s;
}

#navbarNav ul a{
    color: var(--white-color);
    font-size: var(--fs-text);
    margin: 0 15px;
    padding: 10px;
    border-bottom: 1px solid transparent; /*con esto se hace para que salga un estilo hover con un fondo*/
    transition: .5s;
}

#navbarNav ul a:hover{
    border-bottom: 1px solid var(--white-color);
    
}

header .bag-button{
    background: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    position: relative;
}

header .bag-button .contador{
    width: 26px;
    height: 26px;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: var(--fs-text);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: -10px;

}

#hero{
    width: 100%;
    text-align: center;
    /* background: red; */
    padding: 90px 200px;
}
#hero h2{
    font-size: var(--fs-title1);
    color: var(--white-color);
    font-weight: 700;
}

#hero p{
    color: var(--white-color);
    font-size: var(--fs-title3);
    padding: 30px 200px;
}
#hero form{
    width: 400px;
    margin: 0 auto;
    position: relative;
}
#hero form input{
    border-radius: 40px;
    padding: 15px 60px 15px 20px;
    width: 370px;
    font-size: var(--fs-title4);
    border: 2px solid #fff;
    background: #ffffff4b;
    color: var(--white-color);
    outline: none;
}

#hero form input::placeholder{
    color: var(--white-color);
}

#hero form button{
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    border-radius: 50%;
    border: none;
    color: var(--white-color);
    position: absolute;
    left: 83%;
    bottom: 19%;
}
    /* desde aca pasamos con el main */

#choosing{
    width: 100;
    position: relative;
    background: var(--white-color);
    padding: 120px 0;
}
#choosing h2{
    font-weight: 700;
    font-size: var(--fs-title2);
    color: var(--dark-color);
    padding-top: 20px;
}
#choosing h3{
    font-size: var(--fs-title3);
    font-weight: 700;
    color: var(--dark-color);
}
#choosing p{
    font-size: var(--fs-text);
    color: var(--dark-color);
    margin-top: 20px;
}
#choosing a{
    color: var(--primary-color);
    text-decoration: none;
}
#choosing a i{
    margin-left: 4px;
    transition: .5s;
}
#choosing a:hover i{
    margin-left: 15px;
    transition: .5s;
}
/* 5. Tablet estilos y la adactacion*/
    @media screen and (min-width:768px) and (max-width:1080px){

    }
/* 6. Celular estilos y la adactacion*/
     @media screen and (min-width:320px) and (max-width:767px){
        
    }