/*Configuracion basica de un archivo CSS*/ 
/*1.Tipografias*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* 2.Iconos*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");


/*3.Estilos generales*/
h1,h2,h3,h4,h5,h6{
    font-family: "montserrat", sans-serif;
}

p,a,button,li,label,input,select,textarea,span{
    font-family: "releway", sans-serif;
}

/*4.Variables*/
:root{
    --primary-color:#e58411;
    --gray-color: #f7f7f7;
    --white-color: #fff;
    --dark-color: #1e1e1e;
    --fs-title1: 75px;
    --fs-title2: 38px;
    --fs-titel3: 22px;
    --fs-title4: 18px;
    --fs-text: 16px;
}

/*5.Desktop*/
*{
    scrollbar-width: none;
}
header{
    width: 100%;
    position: relative;
    height: 170vh;
    background: url("../img/Rectangle\ 1441.png");
    background-size: cover;
    background-position: center; 
    background-position-x: center;
    background-position-y: bottom;
    padding-top: 40px;
}

.bg-trasparente{
    background: transparent;
}

header nav .logo{
    color: var(--white-color);
    font-weight: 600;
    font-size: 28px;
    transition: .5s;
}

header nav .logo:hover{
    color: var(--white-color);
    transform: scale(0.9);
}

#navbarNav li a{
    color: var(--white-color);
    font-size: var(--fs-text);
    margin: 0 15px;
    padding: 10px;
    border-bottom: 1px solid transparent;
    transition: .5s;
}

#navbarNav li a:hover{
    border-bottom: 1px solid var(--primary-color);
}

header .bag-button{
    background: transparent;
    border: none;
    color: var(--white-color);
    font-size: 26px;
    position: relative;
}

header .bag-button .counter-products{
    width: 26px;
    height: 26px;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: var(--fs-text);
    border-radius: 50px;
    position: absolute;
    right: -10px;
    bottom: 0px;
}

#hero{
    width: 100%;
    text-align: center;
    padding: 50px 190px;
}

#hero h2{
    font-size: var(--fs-title1);
    color: var(--white-color);
    font-weight: 700;
}

#hero p{
    color: var(--white-color);
    font-size: var(--fs-title3);
    padding: 30px 290px;
}

#hero form{
    width: 400px;
    margin: 0 auto;
    position: relative;
}

#hero form input{
    border-radius: 40px;
    padding: 15px 65px 15px 20px;
    width: 370px;
    font-size: var(--fs-title4);
    border: 2px solid #fff;
    background: #f7f7f74b;
    color: var(--white-color);
    outline: none;
}

#hero form input::placeholder{
    color: var(--white-color);
}

#hero form button{
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    border: none;
    border-radius: 50px;
    color: var(--white-color);
    position: absolute;
    right: 6%;
    top: 15%;
}

/* Estilos main */
#choosing{
    width: 100%;
    position: relative;
    background: var(--white-color);
    padding: 120px 0;
}

#choosing h2{
    font-weight: 700;
    font-size: var(--fs-title2);
    color: var(--dark-color);
    padding-top: 20px;
}

#choosing h3{
    font-size: var(--fs-titel3);
    font-weight: 700;
    color: var(--dark-color);
}

#choosing p{
    font-size: var(--fs-text);
    color: var(--dark-color);
    margin-top: 20px;
}

#choosing a{
    color: var(--primary-color);
    text-decoration: none;
}

#choosing a i{
    margin-left: 4px;
    transition: .5s;
}

#choosing a:hover i{
    margin-left: 15px;
}

/* Estilos de products */

#products{
    width: 100%;
    position: relative;
    background: var(--gray-color);
    text-align: center;
    padding: 50px 0;
}

#products h2{
    font-size: var(--fs-title2);
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--dark-color);
}

#products ul{
    width: 420px;
    margin: 0 auto;
    background: #eeeeee;
    padding: 8px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
}

#products li button{
    color: var(--dark-color);
    padding: 10px 30px;
    border: none;
}

#products li button:hover{
    border: none;
}

#products li button.active{
    background: var(--white-color);
    border-radius: 30px;
    border: none;
}

#products .card-product{
    margin: 0 15px;
}

#products .card-product .cont-img{
    background: #e6e6e6;
    position: relative;
    width: 100%;
    min-height: 220px;
    border-radius: 20px 20px 0 0;
}

#products .cont-img img{
    width: 220px;
    position: absolute;
    top: -70px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#products .slick-list{
    padding: 160px 0;
}

#products .cont-info{
    background: white;
    text-align: left;
    padding: 20px;
    border-radius: 0 0 20px 20px;
}

#products .cont-info p.category {
    font-size: var(--fs-text);
    color: #8e8e8e;
}

#products .cont-info h3{
    font-size: 20px;
    font-weight: 700;
    color: var(--dark-color);
}

#products .star i{
    color: #f6b76f;
}

#products .star{
    margin-bottom: 30px;
}

#products .card-product h4{
    font-size: 22px;
    font-weight: 600;
    display: flex;
    margin: 0;
}

#products .card-product h4 span{
    font-size: 15px;
    margin-right: 4px;
}

#products .card-product button{
    background: #0d1b39;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    color: var(--white-color);
    font-size: 24px;
}

#products .slick-arrow{
    background: var(--white-color);
    width: 20px;
    padding: 20px;
    z-index: 999;
    border-radius: 50%;
    color: #0d1b39;
    border: 1px solid #dbdada;
    display: flex;             /* centra el icono dentro */
    justify-content: center;
    align-items: center;
    position: absolute;        /* que se ubique sobre el slider */
    top: 50%;                  /* lo manda al centro vertical */
    transform: translateY(-50%);
}

#products .slick-arrow::before{
    color: #0d1b39;
}

/* Estilos de experiencias */
#experiences{
    width: 100%;
    position: relative;
    padding: 140px 0;
}

#experiences .img{
    position: relative;
    left: -20px;
}

#experiences .img::before{
    content: "";
    width: 400px;
    height: 300px;
    background: #f7f7f7;
    position: absolute;
    z-index: -1;
    top: -60px;
    border-radius: 20px;
}

#experiences .img::after{
    content: "";
    width: 400px;
    height: 300px;
    background: #f7f7f7;
    position: absolute;
    z-index: -1;
    bottom: 70px;
    right: 20px;
    border-radius: 20px;
}

#experiences .img img{
    box-shadow: -15px 16px 19px -10px #af7d43;
}

#experiences .info{
    padding: 20px 60px 0 0 ;
}

#experiences .info h3{
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 18px;
}

#experiences .info h2{
    font-size: var(--fs-title2);
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--dark-color);
    text-transform: uppercase;
}

#experiences .info p{
    font-size: var(--fs-text);
    color: var(--dark-color);
    margin-top: 20px;
}

#experiences .info a{
    color: var(--primary-color);
    text-decoration: none;
}

#experiences .info a i{
    margin-left: 4px;
    transition: .5s;
}

/* Estilos de materiales */
#materials{
    width: 100%;
    position: relative;
    padding: 40px 0;
    
}

#materials .datos{
    padding: 150px 50px;
}

#materials .datos h3{
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 0;
}

#materials .datos h2{
    font-size: var(--fs-title2);
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--dark-color);
    text-transform: uppercase;
}

#materials .datos p{
    font-size: var(--fs-text);
    color: var(--dark-color);
    margin-top: 20px;
}

#materials .datos a{
    color: var(--primary-color);
    text-decoration: none;
}

#materials .datos a i{
    margin-left: 4px;
    transition: .5s;
}

#materials .imagenes img{
    padding: 25px 0;
}

#materials .imagen img{
    max-width: 100%;
    position: relative;
    left: 12px;
    bottom: -150px;
}

#materials .imagen::before{
    content: "";
    width: 240px;
    height: 300px;
    background: #f7f7f7;
    position: absolute;
    z-index: -1;
    bottom: 290px;
    right: 1px;
    border-radius: 20px 0;
}

#materials .imagen img{
    box-shadow: 11px 20px 19px -10px #af7d43;
}

/* Estilos de Reviews */
#reviews{
    width: 100%;
    position: relative;
    padding: 90px 0;
    text-align: center;
}

#reviews h3{
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 0;
}

#reviews h2{
    font-size: var(--fs-title2);
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--dark-color);
    text-transform: uppercase;
}

#reviews .card-reviews{
    position: relative;
}

#reviews .card-reviews .cont-info{
    background: var(--white-color);
    position: absolute;
    width: 78%;
    bottom: 20px;
    border-radius: 30px;
    left: 10%;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
}

#reviews .card-reviews .cont-info img{
    position: absolute;
    top: -35px;
    margin: 0 auto;
    left: 0;
    right: 0;
    border: 10px solid #fff;
    border-radius: 50%;
}

#reviews .card-reviews .cont-info h4{
    font-size: var(--fs-titel4);
    color: var(--dark-color);
    margin-bottom: 10px;
    font-weight: 700;
}

#reviews .card-reviews .cont-info h5{
    font-size:12px;
    color: var(--dark-color);
    color: #666;
    margin-bottom: 20px;
}

#reviews .card-reviews .cont-info p{
    font-size: 11px;
    color: var(--dark-color);
    line-height: 1.6;
    padding: 0 15px;
}

#reviews .star i{
    color: #faac54;
}

#reviews .star i:nth-child(5){
    opacity: 0.5;
}

#reviews .slick-arrow{
    background: var(--white-color);
    width: 20px;
    padding: 20px;
    z-index: 999;
    border-radius: 50%;
    color: #0d1b39;
    border: 1px solid #dbdada;
    display: flex;             /* centra el icono dentro */
    justify-content: center;
    align-items: center;
    position: absolute;        /* que se ubique sobre el slider */
    top: 50%;                  /* lo manda al centro vertical */
    transform: translateY(-50%);
}

#reviews .slick-arrow::before{
    color: #0d1b39;
}

footer{
    padding: 60px 0 20px;
    background: #f7f7f7;
}

footer .infor a{
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 25px;
    color: var(--dark-color);
    line-height: 1.6;
    padding: 0 15px;
    text-decoration: none;
}

footer .infor p{
    font-size: 15px;
    color: var(--dark-color);
    line-height: 1.6;
    padding: 0 15px;
    padding-top: 20px;
}

footer .texto h3{
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 0;
}

footer .texto p{
    font-size: 15px;
    color: var(--dark-color);
    line-height: 1.6;
}
footer .texto a{
    color: var(--dark-color);
    text-decoration: none;
    display: block;
    padding:10px 0;
}

footer .derechos{
    padding-top: 70px;
}

footer .derechos p{
    font-size: 15px;
    color: var(--dark-color);
    line-height: 1.6;
    padding: 0 15px;
}

/*6.Estilo de responsive Tablet */
@media screen and (min-width:768px) and (max-width:1080px){
    header .bag-button{
        display: none;
    }
    .navbar-toggler {
        background: white;
    }
    #hero {
        padding: 90px 40px;
    }

    header {
        height: 90vh;
    }

    #hero h2 {
        font-size: 70px;
    }

    #hero p {
        padding: 20px 200px;
    }

    #experiences .img img{
        width: 100%;
    }
}
/*7.Estilo de responsive Smartphone*/
@media screen and (min-width:320px) and (max-width:767px){
    .navbar-toggler {
        background: white;
        font-size: 13px;
    }
    header {
        height: 50vh;
    }
    header .bag-button{
        display: none;
    }
    #hero {
        padding: 10px 100px;
    }
    #hero h2 {
        font-size: 18px;
    }
    #hero p {
        font-size: 9px;
        padding: 0 20px;
    }
    #hero form{
        width: 60px;
        margin: inherit;
    }
    #hero form input{
        width: 200px;
        font-size: 10px;
    }
    #hero form button{
        width: 30px;
        height: 30px;
        left: 260%;
        top: 18%;
    }
    .navbar>.container{
        padding: 0 30px;
    }
    #choosing {
        padding: 100px 0;
        text-align: center;
    }
    #choosing h2{
        font-size: 30px;
        padding-top: 0;
    }
    #choosing h3{
        padding-top: 20px;
    }
    #choosing p{
        text-align: justify;
        padding: 0 30px;
    }
    #products{
        padding: 30px 0 0 0;
    }
    #products ul{
        width: 350px;
        justify-content: center;
    }
    #products li button{
        padding: 10px 20px;
    }
    #experiences .img img {
        width: 100%;
    }
    #experiences .img::before{
        top: -9px;
    }
    #experiences .info {
        padding: 30px 30px;
        text-align: center;
    }
    #experiences .info p{
        text-align: justify;
    }
    #experiences .info h3{
        padding-top: 30px;
    }
    #experiences .info h2 {
        font-size: 30px;
    }
    #experiences{
        padding: 100px 0 0 0;
    }
    #experiences .img::after{
        bottom: 20px;
    }
    #materials{
        padding: 0;
    }
    #materials .datos{
        padding: 90px 30px;
        text-align: center;
    }
    #materials .datos h2{
        font-size: 28px;
    }
    #materials .datos p{
        margin-top: 10px;
        text-align: justify;
    }
    #materials .imagen::before{
        bottom: 60px;
    }
    #materials .imagen img{
        bottom: 500px;
        left: 26px;
    }
    
    #reviews{
        padding: 150px 0;
    }
    .slick-slide{
        padding: 0 25px;
    }
    #reviews .slick-arrow{
        width: 15px;
    }
    footer{
        padding: 0 20px;
        text-align: center;
    }
    footer .texto{
        text-align: justify;
    }
    footer .derechos{
        text-align: center;
    }

}